bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.NetRangeManager/.idea/.gitignore
/.idea/.idea.NetRangeManager/.idea/indexLayout.xml
/.idea/.idea.NetRangeManager/.idea/encodings.xml
/.idea/.idea.NetRangeManager/.idea/misc.xml
/.idea/.idea.NetRangeManager/.idea/vcs.xml
/NetRangeManager.sln.DotSettings.user
